<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>myFilter</filter-name>
        <filter-class>Filter.myFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>myFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>myFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin01</servlet-name>
        <servlet-class>Admin01</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin1</servlet-name>
        <servlet-class>Controllers_Admin.Admin1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vip01</servlet-name>
        <servlet-class>Controllers_Vip01.Vip01</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vip02</servlet-name>
        <servlet-class>Controllers_Vip02.Vip02</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vip03</servlet-name>
        <servlet-class>Controllers_Vip03.Vip03</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin01</servlet-name>
        <url-pattern>/Admin01</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin1</servlet-name>
        <url-pattern>/Admin1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vip01</servlet-name>
        <url-pattern>/Vip01</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vip02</servlet-name>
        <url-pattern>/Vip02</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vip03</servlet-name>
        <url-pattern>/Vip03</url-pattern>
    </servlet-mapping>
</web-app>
